<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bullshit_generator</title>

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  {{!-- CSS --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- Navigation --}}
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bullshit generator</a>
  </nav>

  <h1 class="text-center my-4">你想對誰說幹話 ?</h1>

  <div class="container">
    <div class="row">
      <div class="input-group col-4">
        <div class="input-group-prepend d-flex flex-column">
          <div class="avatar card">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
              class="card-img-top" alt="工程師">
          </div>
          <div class="input-group-text d-flex justify-content-center">
            <input type="radio" name="target" value="工程師" aria-label="Radio button for following text input">
            <label for="" class="ml-1 mb-0">工程師</label>
          </div>
        </div>
      </div>

      <div class="input-group col-4">
        <div class="input-group-prepend d-flex flex-column">
          <div class="avatar card">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
              class="card-img-top" alt="創業家">
          </div>
          <div class="input-group-text d-flex justify-content-center">
            <input type="radio" name="target" value="創業家" aria-label="Radio button for following text input">
            <label for="" class="ml-1 mb-0">創業家</label>
          </div>
        </div>
      </div>

      <div class="input-group col-4">
        <div class="input-group-prepend d-flex flex-column">
          <div class="avatar card">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
              class="card-img-top" alt="設計師">
          </div>
          <div class="input-group-text d-flex justify-content-center">
            <input type="radio" name="target" value="設計師" aria-label="Radio button for following text input">
            <label for="" class="ml-1 mb-0">設計師</label>
          </div>
        </div>
      </div>
    </div>
  </div>



  {{!-- Partial template --}}
  {{{body}}}

  {{!-- Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>